*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color:black;
}

.headerEl {
    padding: 20px;
    font-family: 'Dancing Script', cursive;
    background-color: #A5D0DD;
    color:black;
    font-weight: bolder;
    text-align: center;
    font-size: xx-large;
}

main{
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
    display: flex;
}

.searchContainer{
    height: 800px;
    width: 400px;
    margin: auto;
    background-color: #454D59;
    text-align: center;
}

.recipeContainer{
    height: 800px;
    width: 400px;
    margin: auto;
    background-color: #8C98B6;
    text-align: center;
}

